<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mantenimiento Persona</title>
    <style>
        table {
            margin: 60px;
            width: 100%;
            text-align: left;
            border-collapse: collapse;
        }

        th {
           
            font-weight: normal;
            padding: 8px;
            background: #b9c9fe;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #039;
        }

        td {
            padding: 8px;
            background: #e8edff;
            border-bottom: 1px solid #fff;
            color: #669;
            border-top: 1px solid transparent;
        }

        tr:hover td {
            background: #d0dafd;
            color: #339;
        }
      
        * {
            color: steelblue;
        }

        #contenido {
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }

        h2 {
            line-height: 3;
            border-bottom: 1px solid steelblue;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: #FFF;
            background: steelblue;
            padding: .5em;
            margin: .5em;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="contenido">
        <h2>Mantenimiento Personas Juridica</h2>
        <a href="/PNatural/listar">Mantenimiento Personas Naturales</a>
        <a href="/PJuridica/listar">Mantenimiento Personas Juridicas</a>
        <div class="nuevo"><a href="/PJuridica/Crear">Nuevo PJuridica</a></div>
        <table>
            <tr>
                <td>RUC</td>
                <td>RAZON SOCIAL</td>
                <td>URL</td>
                <td>DIRECCION</td>
                <td>TELEFONO</td>
                <td>CORREO</td>
                <td>Acciones</td>
            </tr>
            @foreach (var item in ViewData["listaPJuridica"] as IEnumerable<MantenimientoPersonasSVS.Models.PJuridica>)
            {
                <tr>
                    <td><span>@item.ruc</span></td>
                    <td><span>@item.razonSocial</span></td>
                    <td><span>@item.paginaURL</span></td>
                    <td><span>@item.direccion</span></td>
                    <td><span>@item.telefono</span></td>
                    <td><span>@item.correoElectronico</span></td>
                    <td>
                        <a href="/PJuridica/Editar/@item.ruc">Editar</a>
                        <a href="/PJuridica/Eliminar//@item.ruc">Eliminar</a>
                    </td>
                </tr>
            }
        </table>

    </div>
</body>
</html>