<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mantenimiento Persona</title>
    <style>
        table {
            margin: 60px;
            width: 100%;
            text-align: left;
            border-collapse: collapse;
        }

        th {
            padding: 8px;
            background: #b9c9fe;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #039;
        }

        td {
            padding: 8px;
            background: #e8edff;
            border-bottom: 1px solid #fff;
            color: #669;
            border-top: 1px solid transparent;
        }

        tr:hover td {
            background: #d0dafd;
            color: #339;
        }
        * {
            color: steelblue;
        }

        #contenido {
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }

        h2 {
            line-height: 3;
            border-bottom: 1px solid steelblue;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: #FFF;
            background: steelblue;
            padding: .5em;
            margin: .5em;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="contenido">
        <h2>Mantenimiento Personas Natural</h2>
        <a href="/PNatural/listar">Mantenimiento Personas Naturales</a>
        <a href="/PJuridica/listar">Mantenimiento Personas Juridicas</a>
        <div class="nuevo"><a href="/PNatural/Crear">Nuevo PNatural</a></div>
        <table>
            <tr>
                <td>DNI</td>
                <td>NOMBRES</td>
                <td>APELLIDOS</td>
                <td>FECHA DE NACIMIENTO</td>
                <td>SEXO</td>
                <td>DIREECION</td>
                <td>TELEFONO</td>
                <td>CORREO ELECTRONICO</td>
                <td>Acciones</td>
            </tr>
            @foreach (var item in ViewData["listaPNatural"] as IEnumerable<MantenimientoPersonasSVS.Models.PNatural>)
            {

                <tr>
                    <td><span>@item.dni</span></td>
                    <td><span>@item.nombrePersona</span></td>
                    <td><span>@item.apellidoPersona</span></td>
                    <td><span>@item.fechaNacimiento</span></td>
                    <td><span>@item.sexo</span></td>
                    <td><span>@item.direccion</span></td>
                    <td><span>@item.telefono</span></td>
                    <td><span>@item.correoElectronico</span></td>
                    <td>
                        <a href="/PNatural/Editar/@item.dni">Editar</a>
                        <a href="/PNatural/Eliminar/@item.dni">Eliminar</a>
                    </td>
                </tr>


            }
        </table>
    </div>
</body>
</html>