<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mantenimiento Persona</title>
    <style>
        * {
            color: steelblue;
        }

        #contenido {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }

        h2 {
            line-height: 3;
            border-bottom: 1px solid steelblue;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: #FFF;
            background: steelblue;
            padding: .5em;
            margin: .5em;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="contenido">
        <h2>Mantenimiento Personas Natural</h2>
        <a href="#">Mantenimiento Personas Naturales</a>
        <a href="#">Mantenimiento Personas Juridicas</a>
        <table>
            <tr>
                <td>DNI</td>
                <td>NOMBRES</td>
                <td>APELLIDOS</td>
                <td>FECHA DE NACIMIENTO</td>
                <td>SEXO</td>
                <td>DIREECION</td>
                <td>TELEFONO</td>
                <td>CORREO ELECTRONICO</td>
            </tr>
            @foreach (var item in ViewData["listaPNatural"] as IEnumerable<MantenimientoPersonasSVS.Models.PNatural>)
            {

                <tr>
                    <td><span>@item.dni</span></td>
                    <td><span>@item.nombrePersona</span></td>
                    <td><span>@item.apellidoPersona</span></td>
                    <td><span>@item.fechaNacimiento</span></td>
                    <td><span>@item.sexo</span></td>
                    <td><span>@item.direccion</span></td>
                    <td><span>@item.telefono</span></td>
                    <td><span>@item.correoElectronico</span></td>
                </tr>


            }
        </table>
    </div>
</body>
</html>